.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.yellow {
    color: #FFB840;
}

.red {
    color: #F84D42;
}

.green {
    color: #20B86D;
}

.btn {
    font-size: 20px;
    font-weight: bolder;
    background-color: #F84D42;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
}

.btn:hover {
    font-size: 1.27rem;
}

.btn2 {
    background-color: #FFB840;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
}

.btn2:hover {
    font-size: 1.27rem;
}

.btn3 {
    background-color: #20B86D;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
}

.btn3:hover {
    font-size: 1.27rem;
}

.progress-bar--yellow{ 
    background-color: #FFB840;
}

.progress-bar--green{ 
    background-color: #20B86D;
}